.table {
    border-collapse: collapse;
}
 
.tableColumnsHeader {
    text-align: center;
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom: 1px solid #BBBBBB;
    padding: 16px;
}
 
.tableFirstLine {
    text-align: center;
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #BBBBBB;
}
 
.tableNextLine {
    text-align: center;
    background: none repeat scroll 0 0 #FFFFFFF;
    border-top: 1px solid #BBBBBB;
}
 
.panelGrid {
    border: 1px solid;
}
 
.panelFirstLine {
    text-align: center;
    border-top: 1px solid #BBBBBB;
}
 
.panelNextLine {
    text-align: center;
    border-top: 1px solid #BBBBBB;
}

 /* login pages */

body {
	background-color: #e7e7e7;
}

.login {
	width: 100%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.my-btn-center {
	margin-left: auto;
	margin-right: auto;
}

.main-panel {	
	margin-top: 90px;
	margin-bottom: 90px !important;
	background-color: #e7e7e7;	
}

.login-el {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.panel {	
	margin-top: 30px !important;
	margin-bottom: 30px !important;
	background-color: #e7e7e7;	
}

.error {
	background-color: #bc7c7c;	
}

 /* start pages */
 
 .full-width-btn {
 	width: 100% !important;
 }
 
 /* landing page */
 h1.logo {
 	text-align: center;
 }
